@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}



<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link />
</head>

<body class="text-center">    
    <p>
        <h1>Thank You @Model.Name!</h1>  
        @if(Model.WillAttend == true)
        {
            @:See you there!
        }
        else
        {
            @:Sucks to be you. 
        }
    </p>
    <p>
            Click <a class="nav-link" asp-action="ListResponses">here</a> to see who is coming.
    </p>
</body>
</html>